@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$green: rgb(9, 161, 29);
$yellow: rgb(235, 211, 1);
$blue: rgb(1, 161, 235);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    color: rgb(255, 255, 255, 0.8);

}

.main-container{
    width: 100%;
    min-height: 100vh;
    color: rgb(255, 255, 255, 0.8);
    transition: background-color 0.2s;
    user-select: none;

    &.dark{
        background-color: rgb(20, 20, 39);
    }

    .inside-container{
        width: 60%;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        direction: rtl;
    
        .header{
            text-align: center;
            width: 100%;
    
            .title-and-theme{
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                direction: ltr;
                margin-bottom: 3rem;
                position: relative;
    
                .icons-container{
                    display: flex;
                    gap: 1rem;
                    position: absolute;
                    right: 0;

                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.7em;
                        border-radius: 50%;
                        transition: background-color 0.1s;
                        
                        &:hover, &:active{
                            background-color: rgb(0, 0, 0, 0.15);
                        }
    
                        &.dark{
    
                            &:hover, &:active{
                                background-color: rgb(255, 255, 255, 0.15);
                            }
                            .icon{
                                color: white;
                            }
                        }
                        
                        .icon{
                            font-size: 1.2rem;
                            color: rgb(0, 0, 0, 0.7);
                            animation: fadeIn 0.2s forwards;
                        }
                    }
                }
    
                h1{
                    padding: 0.5rem;
                    background: linear-gradient(90deg, rgba(54,177,0,1) 0%, rgba(9,121,63,1) 35%, rgba(0,212,255,1) 100%);
                    background-size: 120%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    width: fit-content;
                    direction: ltr;
                    font-size: 3rem;
                }
            }

            .header-text{
                color: black;

                &.dark{
                    color: rgb(255, 255, 255, 0.8);
                }

                p{
                    width: 100%;
                    direction: rtl;
                    text-align: right;
                }
            }
        }
    }
    
    textarea{
        min-width: 500px;
        max-width: 100%;
        min-height: 30vh;
        max-height: 30vh;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        color: rgb(0, 0, 0, 0.8);
        font-weight: 400;
        text-align: right;
        background-color: rgb(255, 255, 255, 0.92);
        direction: rtl;
        box-shadow: inset 0 2px 8px rgb(0, 0, 0, 0.2);
        border: none;
        transition: scale 0.2s, box-shadow 0.2s;
        
        &:focus-visible{
            outline: none;
            border: none;
        }
    }
    
    #output{
        font-family: Calibri;
    
        &:focus-visible{
            scale: 1;
        }
    
        &::selection{
            background-color: transparent;
        }
    }
    
    .middle{
        display: flex;
        align-items: center;
        width: 100%;
        padding-inline: 1rem;
    
    
        .warning-container{
            display: flex;
            align-items: center;
            gap: 1rem;
            direction: ltr;
            flex: 1;
        
            .icon{
                scale: 1.4;
                color: rgb(235, 106, 1);
            }
    
            .warning{
                font-style: italic;
                direction: ltr;
                color: rgb(0, 0, 0, 0.5);
                flex: 1;
                
                span{
                    color: black;
                    font-weight: 500;
                }
                
                &.dark{
                    color: rgb(255, 255, 255, 0.5);

                    span{
                        color: white;
                    }
                }
            }
        }
        
    }

    .buttons-container{
        display: flex;
        align-items: center;
        gap: 1rem;

        .font{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            direction: ltr;
            border: 1px solid rgb(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 0.2rem 0.3rem;

            &.dark{
                border: 1px solid rgb(255, 255, 255, 0.2);
            }

            select{
                border: none;
                outline: none;
                background-color: transparent;

                &.dark{
                    color: white;

                    &:focus{
                        color: black;
                    }
                }
            }

            span{
                color: black;

                &.dark{
                    color: white;
                }
            }

            #fontsize{
                font-size: 1.05rem;
            }
        }
    }
    
    .button{
        width: fit-content;
        padding: 0.5em 1em;
        font-size: 1rem;
        background-color: rgb(255, 255, 255, 0.1);
        border-radius: 5px;
        transition: background-color 0.1s, color 0.1s, scale 0.15s;
        display: flex;
        gap: 0.5em;
        align-items: center;
        direction: ltr;
        cursor: pointer;
        color: black;

        &.dark{
            color:black;

            span{
                .icon{
                    color: white;
                }
            }
        }
    
        &:hover{
            background-color: rgb(4, 161, 25);
    
            &.green{
                background-color: $green;
                background: linear-gradient(0deg, rgba(1,191,1,1) 31%, rgba(9,121,63,1) 100%);
            }
            &.yellow{
                background-color: $yellow;
                background: linear-gradient(0deg, rgba(239,240,59,1) 31%, rgba(240,194,5,1) 100%);
            }
            &.blue{
                background-color: $blue;
                background: linear-gradient(0deg, rgb(59, 189, 240) 31%, rgb(5, 126, 240) 100%);
            }
        }
    
        &:active{
            scale: 0.95;
        }
    
        &.green{
            border: 1px solid $green;
        }
        &.yellow{
            border: 1px solid $yellow;
        }
        &.blue{
            border: 1px solid $blue;
        }
    
        span{
            display: flex;
            align-items: center;
            justify-content: center;
    
            .icon{
                animation: fadeIn 0.25s forwards;
                transition: color 0.1s, background-color 0.1s;
    
                &.copied{
                    color: rgb(66, 248, 91);
    
                    &:hover{
                        background: transparent;
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
    .main-container{
        .inside-container{
            width: 80%;
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    .main-container{

        .inside-container{
            width: 98%;
            padding: 0.3rem;

            .header{
                .title-and-theme{
                    text-align: left;
                    justify-content: space-between;
                    margin-bottom: 1rem;

                    h1{
                        font-size: 2rem;
                        text-align: left;
                    }
                }
            }

            textarea{
                min-width: 100%;
                max-width: 100%;
                min-height: 24vh;
                max-height: 24vh;
                user-select: all;

                &:focus-visible{
                    scale: 1;
                }
            }

            .middle{
                width: 100%;
                flex-direction: column;
                gap: 1rem;

                .buttons-container{
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
    
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        scale: 0.5;
    }
    100%{
        opacity: 1;
        scale: 1.2;
    }
}